{% extends 'base.html.twig' %}

{% block body %}
    <div class="block-content text-left">
        <div class="container text-center">
            <img src="{{ asset('includes/images/dribbble-shot-404.png') }}">
            <h1>Страница не найдена</h1>
            <p>Возможно эта страница была удалена, либо к ней указан неверный путь</p>
            <p class="block">Перейти на <a href="/">главную страницу</a></p>
        </div>
    </div>
    <div class="footer-push"></div>
{% endblock %}