<title>Развоз</title><link href='https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
<body style="padding:0; margin: 0;font-family: 'Ubuntu', sans-serif" >
<div style="background-color: #89CC00; color: #fff; text-shadow: 0 1px 0 rgba(0,0,0,0.4); text-align: center;font-size: 90px;padding: 100px; background-position: right 10px; background-repeat: no-repeat;">
    <a href="{{ path('admin') }}" style="float: right; font-size: 16px; color: #ffffff;">Login</a>
    <img src="{{ asset('includes/html/images/logo.png') }}" style="width: 350px; margin-bottom: 10px;"><br />
    РАЗВОЗ
    <div style="font-size: 22px;font-weight: normal;color: #ddff99;">квартирный переезд;
        <br />офисный переезд;
        <br />перевозка мебели;
        <br /> вывоз строительного мусора;
        <br /> перевозка техники;
        <br /> дачный переезд;
        <br /> грузоперевозки для юридический лиц</div>
</div>