{% for flashMessage in app.session.flashbag.get('notice') %}
    {#<div class="col-lg-12">#}
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ flashMessage|raw }}
        </div>
    {#</div>#}
{% endfor %}
{% for flashMessage in app.session.flashbag.get('error') %}
    {#<div class="col-lg-12">#}
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ flashMessage|raw }}
        </div>
    {#</div>#}
{% endfor %}
{% for flashMessage in app.session.flashbag.get('success') %}
    {#<div class="col-lg-12">#}
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ flashMessage|raw }}
        </div>
    {#</div>#}
{% endfor %}
