<div class="footer">
    <div class="pull-left">
        <strong>Copyright</strong> <a href="http://dailyroto.com" target="_blank">dailyroto.com</a> &copy; 2016
    </div>
    <div class="pull-right">
        <strong>Powered with</strong> <a href="http://symfony.com" target="_blank">Symfony 2.8</a>
    </div>
</div>
